<a href="/museum">Museum Index</a>

<h1><%= @museum.name %></h1>

<p><b>Number of Galleries:</b> <%= @museum.number_of_galleries %></p>

<p><b>Open to the public?:</b> <%= @museum.open_to_public %></p>

<a href="/museums/<%= @museum.id %>/edit">Edit</a>

<%= link_to "Gallery View","/museum/#{@museum.id}/galleries" %>

<h3>Galleries in database total:</h3>
<%= @museum.galleries.count %>
