<a href="/gallery">Gallery Index</a>

<h1><%= @gallery.name %></h1>

<p><%= @gallery.museum_id %></p>

<p><%= @gallery.item_name %></p>

<p><%= @gallery.year %></p>

<p><%= @gallery.on_loan %></p>

<a href="/galleries/<%= @gallery.id %>/edit">Edit</a>
